
*

!.gitignore
!README.md
!LICENSE
!CMakeLists.txt

!modules/
!modules/**/
!modules/**/*.h
!modules/**/*.c

!docs/
!docs/**/
!docs/**/*

!tests/
!tests/**/
!tests/**/*

!style/
!style/**/
!style/**/*